@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")




<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="Scripts/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="Scripts/small-business.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    @*<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50&text=Logo" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>*@

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8 topleft">
                <h1 class="headertext">Urban Farmer Exchange (UFX)</h1>
                <p class="subheader">Like Craigslist for Farmers</p>
                @*<img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">*@
                @*<img class="img-responsive img-rounded" src="http://rampages.us/kelseymcneill/wp-content/uploads/sites/5403/2015/04/New-York-Riverpark-Urban-Farm1.jpg" width="600" height="50" alt="">*@

            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4 topright">
                <h1>Connect with other urban farmers</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <div class="col-md-2">
                <a class="btn btn-primary btn-lg post" href="https://localhost:44377/Postings/Create">Post</a>
                </div>
                <a class="btn btn-primary btn-lg find" href="https://localhost:44377/Postings">Find</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

            <hr class="hr">

            <!-- Call to Action Well -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="well text-center">
                        This is a well that is a great spot for a business tagline or phone number for easy access!
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- Content Row -->
            <div class="row">
                @*<div class="col-md-8">
                    <h2>Heading 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                    <a class="btn btn-default" href="#">More Info</a>
                </div>*@
                <!-- /.col-md-4 -->
                <div class="col-md-4">
                    <h2>Heading 2</h2>







                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsT1NB4_Y4FwHcrXCKqRXell4s6rInvUg&callback=getLocation"
                            async defer></script>

                    @*displays map and markers accordingly after running all code below*@
                    <div id="mapholder"></div>

                    <script>
    //Finds users initial location based on device location
    var x = document.getElementById("demo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        latlon = new google.maps.LatLng(lat, lon)
        mapholder = document.getElementById('mapholder')
        mapholder.style.height = '250px';
        mapholder.style.width = '500px';

        //Pulls initial values from above function and displays them in Lat/Long boxes
        document.getElementById("Latitude").value = lat;
        document.getElementById("Longitude").value = lon;

        //Finds user designated location by allowing user to drag pin/marker on map. overrides initial location

        //Allows tweaking of map details and presentation (I think)
        var myOptions = {
            center: latlon, zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: false,
            navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL }
        }

        var map = new google.maps.Map(document.getElementById("mapholder"), myOptions);
        //Code for marker and ability to drag marker to designate place
        var marker = new google.maps.Marker({
            position: latlon,
            map: map,
            draggable: true,
            title: "You are here!"
        });
        google.maps.event.addListener(marker, 'dragend', function (a) {
            console.log(a);
            var ulat = a.latLng.lat();
            var ulon = a.latLng.lng();
            console.log(ulat);
            console.log(ulon);

            //Pulls user selected values from above function and displays them in Lat/Long boxes
            document.getElementById("Latitude").value = ulat;
            document.getElementById("Longitude").value = ulon;
        });


    }
    //Error related code when user has no location or denies access
    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }
                    </script>







                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                    <a class="btn btn-default" href="#">More Info</a>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-8">
                    <h2>Recent Posts</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                    <a class="btn btn-default" href="#">More Info</a>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
            </footer>

        </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="Scripts/bootstrap.min.js"></script>

</body>

</html>





@*<div class="jumbotron">
    <h1>Urban Farmer Xchange</h1>
    <p class="lead">Like craigslist for gardeners</p>
    <p><a href="https://localhost:44377/Postings" class="btn btn-primary btn-lg">Postings </a></p>
</div>*@

