@{
    ViewBag.Title = "About";
}
<div class="aboutpage">
    <h3>@ViewBag.Message</h3>

    <h1>This application connects gardeners.</h1>
    <p>
        Currently global human population grows by around 80 million annually.Since 1800 the global population has grown from 1 billion to 7.5 billion today.

        Estimates have put the total population at 8.4 billion by mid-2030, and 9.6 billion by mid-2050. That is a lot of mouths to feed!
    </p>

    <p>
        Sustainability is key to our future, as urbanization steadily grows, keys to increased global sustainability must be found in how cities use their resources.
        A cultural shift in how we produce and distribute food is vital to a sustainable future. Urban gardens and the use of urban space for food production is essential.
        However, managing a garden and providing a wide variety of crop options is difficult for the average urbanite.
        Leveraging social networking technology can increase the efficacy of each individual gardener.

    </p>

    <p>
        Urban Farmer Exchange (UFX) aims to empower urban gardeners to connect,

        build community and exchange and share their surplus produce. We aim to create an online gardening network fostering sustainable urban food production methods,

        while simultaneously advocating for healthier more sustainable overall culture. Our goal is to equip and connect amateur to seasoned gardeners (and eventually even large urban farming programs,

        organizations, school/university and government projects) creating a local network of growers multiplying the efforts of all involved creating a bounty of fresh healthy locally grown foods.

    </p>
</div>