@{
    ViewBag.Title = "Information about the creators of this webapplication";
}
<h2>@ViewBag.Title.</h2>

<h3>Devs:</h3>

<address>
    <img id="Cierra" src="~/Content/cjw.jpg" alt="Photo of Cierra Washington" height="150" /><strong>Cierra Washington:</strong> <a href="http://cierrajw.github.io/">Cierra's Portfolio</a>
    <br />
    <br />
    <img id="Joan" src="~/Content/JoanMayerCampbellResizedPic.jpg" alt="Photo of Joan Mayer Campbell" height="150" /><strong>Joan Mayer Campbell:</strong> <a href="http://joanmayercampbell.github.io/">Joan's Portfolio</a>
    <br />
    <img id="Prince" src="~/Content/Prince_Williams_Profile_icon.jpg" alt="Photo of Prince Williams" height="150" /><strong>Prince Williams:</strong> <a href="http://princemwill.github.io/">Prince's Portfolio</a>
    <br />    
    <img id="William" src="~/Content/WillB.PNG" alt="Photo of William Beck" height="150" /><strong>William Beck:</strong> <a href="https://echarger1.github.io/">William's Portfolio</a>
    <br />

</address>