@{
    ViewBag.Title = "DEVS:";
}
<br />
<br />

<h2>@ViewBag.Title</h2>


<address>

    <div class="w3-card-4" style="width:75%">
        <div class="w3-container">

            <strong>Cierra Washington</strong>
            <hr>
            <img src="~/Content/cjw.jpg" alt="Photo of Cierra Washington" class="w3-left w3-accordion w3-margin-right" style="width:120px; margin-bottom:auto" />
            <p>
                I am a junior web developer focusing on front end, middle tier, and back end. I am currently working on various projects to showcase my skills as a junior full stack web developer. I strive to create the best user experience possible; apps/webpages that are efficient and easily navigable, with sleek and sophisticated design.
            </p>
            <p>
                <a href="http://cierrajw.github.io/">Cierra's Portfolio</a>
            </p>
            <br>
        </div>
    </div>
    <br />

    <div class="w3-card-4" style="width:75%">
        <div class="w3-container">

            <strong>Joan Mayer Campbell</strong>
            <hr>
            <img src="~/Content/JoanMayerCampbellResizedPic.jpg" alt="Photo of Joan Mayer Campbell" class="w3-left w3-accordion w3-margin-right" style="width:120px; margin-bottom:auto" />
            <p>
                I am a Software Developer with training in the Visual Studio development environment and ASP.net MVC framework. My coding skills include C#, SQL, HTML/CSS, JavaScript, JQuery. I have experience with Object Oriented Programming, scrum in the Agile framework and GitHub for completing projects. My recent training has built on a foundation of both formal education and over 9 years of  experience with IBM in the software development field to give me a working knowledge of the latest development environment and methodologies.
            </p>
            <p>
                <a href="http://joanmayercampbell.github.io/">Joan's Portfolio</a>
            </p>
            <br>
        </div>
    </div>
    <br />

    <div class="w3-card-4" style="width:75%">
        <div class="w3-container">

            <strong>Prince Williams</strong>
            <hr>
            <img src="~/Content/Prince_Williams_Profile_icon.jpg" alt="Photo of Prince Williams" class="w3-left w3-accordion w3-margin-right" style="width:120px; margin-bottom:auto" />
            <p>
                I am a passionate amateur gardener, technolgy enthusiast and software engineer. I believe through technology all of my interests and skills can be intertwined and stimulated. 
                I am passionate about empowering disenfranchised people through the power of technology enabling them to transform their lives in all aspects!
                I am determined to leverage my developing technological skills in conjunction with my interpersonal skills, and previous career and academic experiences to actualize change!
                I am especially interested in augmented reality, virtual reality, wearable technology and new emerging technologies.                
            </p>
            <p>
                <a href="http://princemwill.github.io/">Prince's Portfolio</a>
            </p>
            <br>
        </div>
    </div>
    <br />

    <div class="w3-card-4" style="width:75%">
        <div class="w3-container">

            <strong>William Beck</strong>
            <hr>
            <img src="~/Content/WillB.PNG" alt="Photo of William Beck" class="w3-left w3-accordion w3-margin-right" style="width:120px; margin-bottom:auto" />
            <p>
                I am a well rounded individual who can fit into many roles in the workforce.
            </p>
            <p>
                <a href="https://echarger1.github.io/">William's Portfolio</a>
            </p>
            <br>
        </div>
    </div>
    <br />
</address>