@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



<address>
    <strong>Cierra Washington:</strong> <a href="http://cierrajw.github.io/">GitHub</a>
    <strong>Joan Mayer Campbell:</strong> <a href="http://joanmayercampbell.github.io/">GitHub</a>
    <strong>Prince Williams:</strong> <a href="http://princemwill.github.io/">GitHub</a>
    <strong>William Beck:</strong> <a href="https://echarger1.github.io/">GitHub</a>

</address>