@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Cierra Washington:</strong> <a href="http://cierrajw.github.io/">Marketing@example.com</a>
    <strong>Joan Mayer Campbell:</strong> <a href="http://joanmayercampbell.github.io/">Marketing@example.com</a>
    <strong>Prince Williams:</strong> <a href="http://princemwill.github.io/">Marketing@example.com</a>
    <strong>William Beck:</strong> <a href="https://echarger1.github.io/">Marketing@example.com</a>

</address>