@{
    ViewBag.Title = "Information about the creators of this webapplication";
}
<h2>@ViewBag.Title.</h2>

<h3 class="aboutpage">Devs:</h3>

<address class="aboutpage">
    <strong>Cierra Washington:</strong> <a href="http://cierrajw.github.io/">GitHub</a>
    <strong>Joan Mayer Campbell:</strong> <a href="http://joanmayercampbell.github.io/">GitHub</a>
    <strong>Prince Williams:</strong> <a href="http://princemwill.github.io/">GitHub</a>
    <strong>William Beck:</strong> <a href="https://echarger1.github.io/">GitHub</a>

</address>