@model IEnumerable<UFX_WCCI.Models.Posting>
@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="~/Content/W3.css" rel="stylesheet" />
</head>

<div class="jumbotron">
    <h1>Urban Farmer Xchange</h1>
    <p class="lead">Like craigslist for gardeners</p>
    <p><a href="https://localhost:44377/Postings" class="btn btn-primary btn-lg">Postings </a></p>
</div>



    @Html.ActionLink("Show Map", "PostsMap", "Postings")



    @foreach (var item in Model)
    {

        
        <body class="w3-container">

            <h2>Card Example</h2>

            <div class="w3-card-4" style="width:100%">

                <header class="w3-container w3-light-grey">
                    <h3>John Doe</h3>
                </header>

                <div class="w3-container">
                    <p>Price</p><p>Quantity</p>
                    <hr>
                    <img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                    <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
                </div>

                <button class="w3-btn-block w3-dark-grey">+ Connect</button>

            </div>
        </body>


    }




