@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Urban Farmer Xchange</h1>
    <p class="lead">Like craigslist for gardeners</p>
    <p><a href="https://localhost:44377/Postings" class="btn btn-primary btn-lg">Postings </a></p>
</div>


