<?xml version="1.0"?>
<!--<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>-->
<appSettings>

  <add key ="GoogleClientId" value="1005808338801-lbkiuhatjar0c8th84qm3n09t2cp4upj.apps.googleusercontent.com"/>
  <add key ="GoogleSecret" value="YusIRAwUpBAG-QUt4I-4lM1R"/>

</appSettings>
