
body{
    /*background-color: #5f6571;*/
    /*background-color: #3e3d3b;*/
    background-color: #415e6a;
    /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3d/New_crops-Chicago_urban_farm.jpg');*/
    background-image: url('../BlurredMainPage.jpg');
    filter: blur(20px);
    border: solid 2px #525451;
    /*border: solid 5px black;*/
    background-attachment: fixed;

   
}
h1.indexhead{
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.aboutpage{
    background-color: #2C2D2E;
    color: #fff;
    opacity: 0.8;
}
.mapdiv{
    border: solid 2px black;
    margin-top: 80px;
}
/*.boxshadow {
    box-shadow: 10px 10px 5px #888888;

}*/
#logoutForm > div > button{
    background-color: transparent;
    border-color: transparent;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.caret-up{
    width: 0 !important; 
    height: 0 !important; 
    border-left: 4px solid rgba(0, 0, 0, 0) !important;
    border-right: 4px solid rgba(0, 0, 0, 0) !important;
    border-bottom: 4px solid !important;
    
    display: inline-block !important;
    margin-left: 2px !important;
    vertical-align: middle !important;
}
body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse{
    background-color: #2C2D2E !important;
    opacity: 0.6 !important;
}
body > div.navbar.navbar-inverse.navbar-fixed-top{
        background-color: #2C2D2E !important;
    opacity: 0.8 !important;
}
.w3-container{
    border-color: #144e1e !important;
    color: #144e1e !important;
}
.w3-light-grey{
    border-color: #144e1e;
    color: #144e1e !important;

}
.w3-card-4{
    background-color: #fff !important;
    opacity: 0.8;

}