@*@Using UFX_WCCI.Models*@
@model UFX_WCCI.Models.ApplicationUser


@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Model.UserName
        <br />

        <img src="~/AvatarFile?id=@Model.Id" width="200" height="200" />
        <br />
        @Model.Bio
        <br />
        @Model.Latitude
        <br />
        @Model.Longitude
 
    </div>
</body>
</html>
