@*@Using UFX_WCCI.Models*@
@model UFX_WCCI.Models.ApplicationUser


@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Model.UserName
        <br />
       
        <br />
        @Model.Bio
        <br />
        @Model.Latitude
        <br />
        @Model.Longitude
 
    </div>
</body>
</html>
